/* Color scheme:
	#FCE9CC
	#FFCDAC
	#FFA08B
	#FF625E
	#123638
*/
.image-slider{
	width:100vw;
	height: 40vw;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
}

.image-slider i{
	color:rgba(225,255,255,0.5);
	position: absolute;
	top:50%;
	z-index: 100;
	transform: translateY(-50%);
	font-size: 4vw;
}
.image-slider i:hover{
	color:#123638;
}

.image-slider .fa-chevron-circle-left{
	left:0.5em;
}

.image-slider .fa-chevron-circle-right{
	right:0.5em;
}

.slides{
	position: absolute;
	height: 100%;
	display: flex;
	transition: all ease 1s;
	top:0;
	left:0;
}

.slides>div{
	
	flex: 0 0 50vw;
	height: 100%;
	box-sizing: border-box;
	align-content: center;
	font-family: 'Montserrat', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 10vw;
	
}

.slides>div:nth-child(4n+1){
	background-color:#FCE9CC;
}
.slides>div:nth-child(4n+2){
	background-color:#FFCDAC;
}
.slides>div:nth-child(4n+3){
	background-color:#FFA08B;
}
.slides>div:nth-child(4n+4){
	background-color:#FF625E;
}


.dots{
	position: absolute;
	width: 100%;
	bottom:0;
	left:0;
	display: flex;
	justify-content: center;
	z-index: 100;
	margin-bottom: 1em;
}

.dots>div{
	flex:0 0 1em;
	height: 1em;
	box-sizing: border-box;
	border:thin white solid;
	border-radius: 50%;
	margin:0.5em;
	transition: all ease 1s;
}

.dots .current-dot{
	background-color: white;
}


