.container{
    border: 1px solid red;
    width: 300px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

.card-container{
    border: 1px solid blue;
    height: 200px;
    position: relative;
    

}

.card-container>i{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 2vw;
}

.card-container .fa-chevron-left{
    left: 0.5em;
}

.card-container .fa-chevron-right{
    right: 0.5em
}

.cards{
    
}

.card{
    /* border: thin solid; */
    width: 200px;
    height: 100px;

    border-radius: 5px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -60%);
    box-sizing: border-box;

    background-color: transparent;
    opacity: 0.1;
    transition: all ease 1s;

    /*  */
    perspective: 1000px;
}

.flip-box-inner{
    position: relative;
    width: 100%;
    height: 100%;
    /* text-align: center; */
    transition: transform 1s;
    transform-style: preserve-3d;
    border: 1px solid;
}

.current:hover .flip-box-inner {
    transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-box-front{
    background-color: white;
    box-sizing: border-box;
    padding: 0.5em;
}

.flip-box-back{
    background-color: white;
    transform: rotateY(180deg);
    box-sizing: border-box;
    padding: 0.5em;
}

.cards>.current{
    z-index: 10;
    opacity: 1;
    transform: translate(-50%, -50%);
}

.nav-bar{
    border: 1px solid blue;
    text-align: center;
    padding: 0.5em;
}

.form-container{
    border: 1px solid blue;
    padding: 1em;
    position: relative;
    display: flex;
}

form>*{
    padding-bottom: 1em;
}


span{
    visibility: hidden;
}
.correct{
    visibility: visible;
    color: green;
}

.incorrect{
    visibility: visible;
    color: red;
}